@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f1efef;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  box-sizing: border-box;
}

.fixed_height {
  min-height: calc(90vh - 140px);
}

.overflow_height {
  height: calc(100vh - 74px);
}

.sidebar-item {
  @apply flex items-center p-4 border-b border-gray-800 hover:bg-gray-800 hover:text-blue-500 cursor-pointer;
}

.sidebar-icon {
  @apply text-2xl;
}

.sidebar-text {
  @apply ml-4 text-lg font-medium hidden lg:block;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
