@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f1efef;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  box-sizing: border-box;
}

.fixed_height {
  min-height: calc(90vh - 140px);
}